@media  screen and (max-widht: 700px) {

    header{
        position: fixed;
    }

    header h1{
        font-size: 200px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 50px;
    }
    
}